body {
  background-color: #f0f1f3;
  font-family: "Helvetica Neue", Helvetica, STHeiTi, sans-serif;
  margin-bottom: 58px;
}
.header{
	font-size: 16px;
	height: 50px;
	line-height: 50px;
  display: flex;
	display: -webkit-flex;
	-webkit-flex-direction:row;
	flex-direction:row;
	-webkit-justify-content:center;
	justify-content:center;
  position: relative;
  border-bottom: 3px solid #ff3656;
  background-color: #fff;
}

/*swipe*/
.swipe {
  overflow: hidden;
  visibility: hidden;
  position: relative;
}
.swipe-wrap {
  overflow-y: scroll;
  overflow-x: hidden;
  position: relative;
}
.header-swipe-wrapper {
  height: 320px;
}
.swipe-wrap > div {
  float:left;
  width:100%;
  position: relative;
}
.swipe-wrap img{
	width: 100%;
  height: 320px;
}
.swipe-wrapper{
  position: relative;
}
.swipe-wrapper nav {
  position: absolute;
  width: 100%;
  left: 0;
  bottom: 25px;
}
.swipe-wrapper nav #position {
  text-align: center;
  list-style: none;
  margin: 0;
  padding: 0;
}
.swipe-wrapper nav #position li {
  display: inline-block;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  background: #fff;
  /*box-shadow: inset 0 1px 3px black,0 0 1px 1px #202020;*/
  margin: 0 7px;
  cursor: pointer;
}
.swipe-wrapper nav #position li.on {
  background: #ff3758;
}

/*nav*/
.nav{
  display: flex;
  display: -webkit-flex;
  -webkit-flex-direction:row;
  flex-direction:row;
  border-top: 2px solid #e4e4e4;
  padding: 15px 0;
  background-color: #fff;
}
.nav div{
  flex: 1;
  -webkit-flex: 1;
  font-size: 12px;
  text-align: center;
  border-right: 1px solid #d9d9d9;
  position: relative;
  text-indent: 25px;
}
.nav div:last-child{
  border-right: 0px;
}
.nav div span{
  color: #ee527b;
}
.nav div i{
  position: absolute;
  left: 10px;
  display: block;
  width: 16px;
  height: 16px;
  background: #000;
}
.nav div i.zujin {
  background: url(../img/dollar.png) no-repeat;
  background-size: 15px 15px;
  -webkit-background-size: 15px 15px;
}
.nav div i.yajin {
  background: url(../img/coin.png) no-repeat;
  background-size: 15px 15px;
  -webkit-background-size: 15px 15px;
}
.nav div i.qizu {
  background: url(../img/calendar.png) no-repeat;
  background-size: 15px 15px;
  -webkit-background-size: 15px 15px;
}
.info{
  padding: 10px;
  background-color: #f9f9f9;
  padding-bottom: 35px;
  font-size: 14px;
  border-top: 1px solid #eee;
  border-bottom: 1px solid #eee;
  color: #484848;
  margin-bottom: 10px;
}
.info .info-title {
  font-size: 16px;
  font-weight: 600;
}
.info .position,
.info .price {
  float: left;
  color: #9c9c9c;
  position: relative;
  text-indent: 18px;
  margin-top: 10px;
  font-size: 12px;
  margin-bottom: 20px;
}
.info .price {
  margin-left: 20px;
}
.info .position i,
.info .price i{
  position: absolute;
  display: block;
  width: 13px;
  height: 13px;
  background: url(../img/map.png) no-repeat;
  background-size: 10px 12px;
  -webkit-background-size: 10px 12px;
}
.info .price i{
  background: url(../img/label.png) no-repeat;
  background-size: 10px 12px;
  -webkit-background-size: 10px 12px;
}
.info .price {
  float: left;
}
.intro {
  background-color: #fff;
  border-top: 1px solid #eee;
  border-bottom: 1px solid #eee;
}
.intro ul {
  padding: 0 10px;
}
.intro ul li{
  padding: 10px 0;
  font-size: 12px;
  color: #666;
  border-bottom: 1px solid #eee;
  position: relative;
}
.intro ul li .list-left {
  position: absolute;
  width: 22px;
}
.intro ul li .list-left img {
  width: 22px;
  height: 22px;
}
.intro ul li .list-right {
  margin-left: 30px;
}
.intro ul li h3{
  font-size: 15px;
  font-weight: 700;
  color: #000;
  margin-bottom: 8px;
}

.intro ul li div p{
  font-size: 13px;
  color: #949494;
  line-height: 17px;
}

.back-btn {
  position: absolute;
  width: 25px;
  height: 25px;
  display: block;
  left: 10px;
  top: 13px;
}
.back-btn:before {
  content: '';
  position: absolute;
  width: 10px;
  height: 10px;
  border-width: 1px;
  border-style: solid;
  border-color: transparent #636363 #636363 transparent;
  left: 50%;
  margin-left: -4px;
  top: 50%;
  margin-top: -6px;
  -webkit-transform: rotate(-225deg);
  transform: rotate(-225deg);
}
.foot-fixed {
  width: 100%;
  height: 60px;
  padding: 10px 25px;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  border-top: 2px solid #cdcdcd;
  position: fixed;
  background: rgba(0, 0, 0, .6);
  color: #fff;
  bottom: 0;
  left: 0;
  z-index: 99;
}
.foot-fixed .download-btn {
  position: absolute;
  background-color: #fe3756;
  width: 70px;
  height: 30px;
  font-size: 15px;
  color: #fff;
  line-height: 30px;
  text-align: center;
  border-radius: 15px;
  right: 25px;
  top: 13px;
}
.foot-fixed p {
  line-height: 20px;
}

/** comment **/
.comment-list li {
  border-bottom: 1px solid #cdcdcd;
  padding: 15px;
  position: relative;
  background-color: #fff;
}
.comment-list li.comment-special-item {
  min-height: 50px;
  margin-bottom: 10px;
  border-bottom: none;
}
.comment-normal-item .comment-summary-left,
.comment-special-item .comment-summary-left {
  width: 40px;
  position: absolute;
  left: 15px;
  top: 15px;
}
.comment-summary-left img {
  display: block;
  width: 30px;
  background-color: #d8d8d8;
  border-radius: 50%;
  -webkit-border-radius: 50%;
}
.comment-normal-item .comment-summary-info {
  margin-left: 40px;
  margin-right: 70px;
}
.comment-special-item .comment-summary-info {
  margin-left: 40px;
}
.comment-summary-info p:first-child {
  font-size: 14px;
  line-height: 13px;
}
.comment-summary-info p:last-child {
  font-size: 12px;
  margin-top: 1px;
}
.comment-summary-time {
  font-size: 12px;
  color: #ff3656;
}
.comment-normal-item .comment-summary-time {
  position: absolute;
  right: 15px;
  top: 15px;
  width: 70px;
  text-align: right;
}
.comment-special-item .comment-summary-intro {
  font-size: 14px;
  margin-top: 10px;
}
.comment-special-item .comment-summary-imglist {
  width: auto;
  margin-top: 10px;
  height: 92px;
  word-break: keep-all;
  white-space: nowrap;
  overflow: hidden;
  overflow-x: auto;
  margin-bottom: 25px;
}
.comment-special-item .comment-summary-imglist li{
  display: inline-block;
  width: 90px;
  height: 90px;
  border: 1px solid #cdcdcd;
  margin-right: 12px;
  padding: 0;
}
.comment-special-item .comment-summary-imglist li:last-child{
  margin-right: 0;
}
.comment-summary-imglist li img {
  display: block;
  width: 90px;
  height: 90px;
}
.comment-summary-bottom {
  width: 100%;
  padding: 10px 0 0;
  text-align: right;
  color: #484848;
  font-size: 13px;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  position: absolute;
  right: 20px;
  bottom: 15px;
}
.comment-summary-bottom span {
  margin-left: 20px;
  padding-left: 25px;
  position: relative;
}
.comment-summary-bottom span i {
  position: absolute;
  left: 0;
  top: -3px;
  display: block;
  width: 20px;
  height: 20px;
}
.comment-summary-bottom .dianzan i {
  background: url(../img/unlike.png) no-repeat;
  background-size: 18px 18px;
  -webkit-background-size: 18px 18px;
}
.comment-summary-bottom .pinglun i {
  top: 0px;
  background: url(../img/comment.png) no-repeat;
  background-size: 18px 14px;
  -webkit-background-size: 18px 14px;
}
.comment-summary-bottom .zhuanfa i {
  top: -1px;
  background: url(../img/share.png) no-repeat;
  background-size: 18px 14px;
  -webkit-background-size: 18px 14px;
}
.coverWrapper{
  width: 100%;
  height: 100%;
  background: rgba(0,0,0, 0.9);
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;
  display: none;
}

.coverWrapper.show{
  display: flex;
  display: -webkit-flex;
  align-items: center;
  -webkit-align-items:center;
}
.swipe-img-detail.swipe-wrapper nav {
  /*display: none;*/
}