body {
  background-color: #fff;
  font-family: "Helvetica Neue", Helvetica, STHeiTi, sans-serif;
  margin-bottom: 58px;
}
.header{
	font-size: 16px;
	height: 50px;
	line-height: 50px;
  display: flex;
	display: -webkit-flex;
	-webkit-flex-direction:row;
	flex-direction:row;
	-webkit-justify-content:center;
	justify-content:center;
  position: relative;
  border-bottom: 3px solid #ff3656;
  background-color: #fff;
}

/*swipe*/
.swipe {
  overflow: hidden;
  visibility: hidden;
  position: relative;
}
.swipe-wrap {
  overflow: hidden;
  position: relative;
}
.swipe-wrap > div {
  float:left;
  width:100%;
  position: relative;
}
.swipe-wrap img{
	width: 100%
}
.swipe-wrapper{
  position: relative;
}
.swipe-wrapper nav #position {
  text-align: center;
  list-style: none;
  margin: 0;
  padding: 0;
}
.swipe-wrapper nav #position li {
  display: inline-block;
  width: 10px;
  height: 10px;
  border-radius: 10px;
  background: #141414;
  box-shadow: inset 0 1px 3px black,0 0 1px 1px #202020;
  margin: 0 2px;
  cursor: pointer;
}
.swipe-wrapper nav #position li.on {
  box-shadow: inset 0 1px 3px -1px #28b4ea,0 1px 2px rgba(0,0,0,.5);
  background-color: #1293dc;
  background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0%,#1293dc),color-stop(100%,#0f6297));
  background-image: -webkit-linear-gradient(top,#1293dc,#0f6297);
  background-image: -moz-linear-gradient(top,#1293dc,#0f6297);
  background-image: -ms-linear-gradient(top,#1293dc,#0f6297);
  background-image: -o-linear-gradient(top,#1293dc,#0f6297);
  background-image: linear-gradient(top,#1293dc,#0f6297);
}

/*nav*/
div.nav{
  display: flex;
  display: -webkit-flex;
  -webkit-flex-direction:row;
  flex-direction:row;

}
div.nav div{
  flex: 1;
  -webkit-flex: 1;
  font-size: 12px;
  text-align: center;
  border-right: 1px solid #000;
}
div.nav div:last-child{
  border-right: 0px;
}
div.nav div span{
  color: #ee527b;
}

div.info{
  padding: 10px;
  background-color: #f9f9f9;
  padding-bottom: 20px;
  font-size: 12px;
}

div.intro ul li{
  padding: 10px;
  padding-bottom: 0px;
  font-size: 12px;
  color: #666;
}
div.intro ul li h3{
  font-size: 14px;
  color: #000;
  margin-bottom: 10px;
}
div.intro ul li div{
  border-bottom: 1px solid #000;
  padding-bottom: 10px;
}

div.intro ul li div p{
  padding-left: 10px;
}

.back-btn {
  position: absolute;
  width: 25px;
  height: 25px;
  display: block;
  left: 10px;
  top: 13px;
}
.back-btn:before {
  content: '';
  position: absolute;
  width: 10px;
  height: 10px;
  border-width: 1px;
  border-style: solid;
  border-color: transparent #636363 #636363 transparent;
  left: 50%;
  margin-left: -4px;
  top: 50%;
  margin-top: -6px;
  -webkit-transform: rotate(-225deg);
  transform: rotate(-225deg);
}
.foot-fixed {
  width: 100%;
  height: 60px;
  padding: 10px 25px;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  border-top: 2px solid #cdcdcd;
  position: fixed;
  background-color: #fff;
  bottom: 0;
  left: 0;
  z-index: 99;
}
.foot-fixed .download-btn {
  position: absolute;
  background-color: #fe3756;
  width: 70px;
  height: 30px;
  font-size: 15px;
  color: #fff;
  line-height: 30px;
  text-align: center;
  border-radius: 15px;
  right: 25px;
  top: 13px;
}
.foot-fixed p {
  line-height: 20px;
}

/** comment **/
.comment-list li {
  border-bottom: 1px solid #cdcdcd;
  padding: 15px;
  position: relative;
  background-color: #fff;
}
.comment-list li.comment-special-item {
  min-height: 50px;
  margin-bottom: 10px;
  border-bottom: none;
}
.comment-normal-item .comment-summary-left,
.comment-special-item .comment-summary-left {
  width: 40px;
  position: absolute;
  left: 15px;
  top: 15px;
}
.comment-summary-left img {
  display: block;
  width: 30px;
  background-color: #d8d8d8;
  border-radius: 50%;
  -webkit-border-radius: 50%;
}
.comment-normal-item .comment-summary-info {
  margin-left: 40px;
  margin-right: 70px;
}
.comment-special-item .comment-summary-info {
  margin-left: 40px;
}
.comment-summary-info p:first-child {
  font-size: 14px;
}
.comment-summary-info p:last-child {
  font-size: 12px;
  margin-top: 5px;
}
.comment-summary-time {
  font-size: 12px;
  color: #ff3656;
}
.comment-normal-item .comment-summary-time {
  position: absolute;
  right: 15px;
  top: 15px;
  width: 70px;
  text-align: right;
}
.comment-special-item .comment-summary-intro {
  font-size: 14px;
  margin-top: 10px;
}
.comment-special-item .comment-summary-imglist {
  width: auto;
  margin-top: 10px;
  height: 92px;
  word-break: keep-all;
  white-space: nowrap;
  overflow: hidden;
  overflow-x: auto;
}
.comment-special-item .comment-summary-imglist li{
  display: inline-block;
  width: 90px;
  height: 90px;
  border: 1px solid #cdcdcd;
  margin-right: 12px;
  padding: 0;
}
.comment-special-item .comment-summary-imglist li:last-child{
  margin-right: 0;
}
.comment-summary-imglist li img {
  display: block;
  width: 90px;
  height: 90px;
}